<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="closeModal()" data-dismiss="modal">&times;</span></button>
        <h4 class="modal-title">showing the card</h4>
        <p> In List {{list.title}}</p>
      </div>
      <div class="modal-body">
        <p>{{card.description}}</p>
        <p>One fine body&hellip;</p>
        <a ng-click="state.editCardDescription = !state.editCardDescription"> Edit the description </a>
          <div ng-if="state.editCardDescription">
            <textarea name="description" ng-model="cardFormData.description"></textarea>
          <input type="submit" value="Save" ng-click="">
          </div>
      </div>
      <div>
        <h4>Members</h4>
        <div ng-repeat="member in card.members">
          <p>{{member.username}}</p>
        </div>
        <a ng-click="state.addMemberForm = !state.addMemberForm">   Add Member</a>
          <div ng-if="state.addMemberForm">
          <select ng-model="memberToAdd" ng-options="member.username for member in allMembers" ng-change="addMemberToCard(memberToAdd, card)">
          </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeModal()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->